* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #1D2029;
  color: white;
  line-height: 2em;
  text-indent: 3px;
}

header {
  background-color: #20222F;
  padding: 2em 0;
}

select {
  padding: 1em;
  width: 100%;
  border-radius: 3px;
}

.container {
  margin: auto;
  width: 90%;
}

.board {
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: #252B53;
  border-radius: 5px;
  padding: 1em 3em
}

.card-head {
  display: flex;
  justify-content: space-between;
}

.top-user {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap:2em;
  margin: 1em 0;
}

.first {
  border-top: solid 5px rgb(218, 83, 83);
}

.second {
  border-top: solid 5px rgb(255, 102, 0);
}

.third {
  border-top: solid 5px rgb(204, 121, 135);
}

.other-user {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2em;
  margin: 1em 0;
}

.other-user>.card {
  border-top: solid 5px rgba(69, 230, 63, 0.822);
  text-align: center;
}

@media(max-width:600px) {
  .top-user , .other-user{
    display: grid;
    grid-template-columns: auto;
    justify-content: unset;
    grid-gap: 2em;

  }
  
.board {
  display: block;
  text-align: center;
}
select{
  width:100%;
  margin-top:2em;
}
}